{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<style>
    .equity_info_column_name {
        display: inline-block;
        color: #FFFFFF;
        width: 5rem;
    }
    .equity_info_vertical_line {
        display: inline-block;
        color: #FFFFFF;
        width: 1rem;
    }
    .equity_info_value {
        display: inline-block;
        color: #FFFFFF;
        width: 10rem;
    }

</style>

<div style="margin: 2rem 2rem">
    <div style="margin: 1rem auto;">
        <a href="{% url 'equitymasterapp:list' %}" class="btn btn-light" style="display: inline">목록</a>
    </div>
    <div style="display: inline-block; margin: 1rem auto;">
        <div style="display: inline-block; float:left; max-width:30%; margin-right: 2rem;">
            <img src="{{ target_equity.image.url }}" alt=""
                 style="max-width: 100%; float:left; margin-right: 1.5rem; margin-bottom: 1rem;">
        </div>
        <div style="display: inline-block;">
            <div>
                <h3 style="display: inline-block; margin-right: 1rem; color:#FFFFFF">
                    {{ target_equity.name }}
                </h3>
                <h5 style="display: inline; background-color: #264257; color:#FFFFFF">
                    {{ target_equity.ticker }}
                </h5>
            </div>

            <div style="margin: 1rem 1rem;">
                <div>
                    <div class="equity_info_column_name">
                        Market
                    </div>
                    <div class="equity_info_vertical_line">
                        |
                    </div>
                    <div class="equity_info_value">
                        {{ target_equity.market }}
                    </div>
                </div>
                <div>
                    <div class="equity_info_column_name">
                        Currency
                    </div>
                    <div class="equity_info_vertical_line">
                        |
                    </div>
                    <div class="equity_info_value">
                        {{ target_equity.currency }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}