{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<style>
    table { border-collapse: collapse; color:#FFFFFF; }
    tr { display: block; float: left;}
    th, td { display: block; width: 6rem; }
</style>


<div style="margin: 2rem 2rem">
    <div style="margin: 1rem auto;">
        <a href="{% url 'equitymasterapp:list' %}" class="btn btn-light" style="display: inline">목록</a>
        <a href="{% url 'equitymasterapp:update' pk=target_equity.pk %}" class="btn btn-light" style="display: inline">수정하기</a>
        <a href="{% url 'equitymasterapp:delete' pk=target_equity.pk %}" class="btn btn-light" style="display: inline">삭제하기</a>
    </div>
    <div style="display: inline-block; margin: 1rem auto;">
        <div style="display: inline-block; float:left; max-width:30%; margin-right: 2rem;">
            <img src="{{ target_equity.image.url }}" alt=""
                 style="max-width: 100%; float:left; margin-right: 1.5rem; margin-bottom: 1rem;">
        </div>
        <div style="display: inline-block;">
            <div>
                <h3 style="display: inline-block; margin-right: 1rem; color:#FFFFFF">
                    {{ target_equity.name }}
                </h3>
                <h5 style="display: inline; background-color: #264257; color:#FFFFFF">
                    {{ target_equity.ticker }}
                </h5>
            </div>

            <div style="margin: 1rem 1rem;">
                <table>
                    <tr>
                        <th>Market</th>
                        <th>Currency</th>
                    </tr>
                    <tr>
                        <td>{{ target_equity.market }}</td>
                        <td>{{ target_equity.currency }}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>


{% endblock %}