{% load bootstrap4 %}

<div style="background-color: #007D8A; color: #FFFFFF;">
    <div style="display: block; width: 100%; background-color: #264257;">
        <h4 style="margin-left: 1rem; color: #FFFFFF; font-weight: bold;">Add Transaction</h4>
    </div>
    <div style="display: block; width: 80%; margin-left: 1rem; background-color: #007D8A;">
        <form action="{% url 'equitytransactionapp:create' %}" method="post" style="">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if user.is_authenticated %}
                <input type="submit" class="btn btn-light">
            {% else %}
                <a href="{% url 'accountapp:login' %}?next={{ request.path }}"></a>
            {% endif %}
            <input type="hidden" name="equity_owned_pk" value="{{ equity_owned.pk }}">
        </form>
    </div>
</div>
