{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/portfolioapp.css' %}">
    {% endblock %}

    <div style="margin: 1rem;">

        <div>
            <h1 class="portfolioapp_main_title">Portfolio Summary</h1>
        </div>

        <div style="margin: 1rem;">
            <table class="portfolioapp_inverted_table">
                <tr class="portfolioapp_inverted_table_tr">
                    <th class="portfolioapp_inverted_table_th_td">현재가치</th>
                    <th class="portfolioapp_inverted_table_th_td">자본이득</th>
                    <th class="portfolioapp_inverted_table_th_td">자본이득률</th>
                    <th class="portfolioapp_inverted_table_th_td">자본이득(환차 반영)</th>
                    <th class="portfolioapp_inverted_table_th_td">자본이득률(환차 반영)</th>
                </tr>
                <tr class="portfolioapp_inverted_table_tr">
                    <td class="portfolioapp_inverted_table_th_td">{{ target_portfolio.current_value }}</td>
                    <td class="portfolioapp_inverted_table_th_td">{{ target_portfolio.capital_gain }}</td>
                    <td class="portfolioapp_inverted_table_th_td">{{ target_portfolio.rate_of_return }}</td>
                    <td class="portfolioapp_inverted_table_th_td">{{ target_portfolio.capital_gain_exchange_adjusted }}</td>
                    <td class="portfolioapp_inverted_table_th_td">{{ target_portfolio.rate_of_return_exchange_adjusted }}</td>
                </tr>
            </table>
        </div>

    </div>


{% endblock %}