{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<style>
    table { border-collapse: collapse; color:#FFFFFF; }
    tr { display: block; float: left;}
    th, td { display: block; width: 11rem; }
</style>


<div style="margin: 2rem 2rem">
    <div style="margin: 1rem auto;">
        <a href="{% url 'equityownedapp:list' %}" class="btn btn-light" style="display: inline">목록</a>
    </div>
    <div style="display: inline-block; margin: 1rem auto;">
        <div style="display: flex; float:left; width: 250px; height: 250px; margin-right: 2rem;
                    align-items: center; background-color: #FFFFFF;">
            <div style="display: inline-block; max-width: 100%;">
                <img src="{{ target_equity_owned.equity.image.url }}" alt=""
                     style="display: inline-block; max-width: 100%;">
            </div>
        </div>
        <div style="display: inline-block;">
            <div>
                <h3 style="display: inline-block; margin-right: 1rem; color:#FFFFFF">
                    {{ target_equity_owned.equity.name }}
                </h3>
                <h5 style="display: inline; background-color: #264257; color:#FFFFFF">
                    {{ target_equity_owned.equity.ticker }}
                </h5>
            </div>

            <div style="margin: 1rem 1rem;">
                <table>
                    <tr>
                        <th>Market</th>
                        <th>Currency</th>
                    </tr>
                    <tr>
                        <td>{{ target_equity_owned.equity.market }}</td>
                        <td>{{ target_equity_owned.equity.currency }}</td>
                    </tr>
                </table>
            </div>

            <div style="margin: 1rem 1rem;">
                <table>
                    <tr>
                        <th>보유량</th>
                        <th>평균매입단가(MV)</th>
                        <th>평균매입단가(FIFO)</th>
                    </tr>
                    <tr>
                        <td>{{ target_equity_owned.quantity }}</td>
                        <td>{{ target_equity_owned.average_purchase_price_mv }}</td>
                        <td>{{ target_equity_owned.average_purchase_price_fifo }}</td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
</div>


{% endblock %}