

<div class="diamond_goose_header" style="text-align:left;" >
    <div>
        <div>
            <h1 style="font-size: 3rem;">Diamond Goose MK2</h1>
        </div>
        <div style="font-size: 1.5rem;">
            <span style=" margin: 0 0.5rem;">nav1</span> |

        <a href="{% url 'accountapp:create' %}" class="link-info" style="text-decoration-line: none;">
            <span>Sign Up</span>
        </a> |
        <!-- ?next를 통해서 login 완료후 위치를 지정해줌. 이 경우 원래있던 곳. -->
            <span>Login</span>

        </div>
    </div>
</div>